<?xml version="1.0" encoding="UTF-8"?>
<!--
    WMO Core Metadata Profile version 1.3 Code List extensions and amendments

    ChangeLog
    Version 1.3.0: 14 Feb 2013: Issued with final draft for approval of WMO Metadata Core Profile 1.3
    Version 1.3.1: 11 July 2013: Corrections to typography of descriptions of code list items (following TT-ApMD-2)
    Version 1.3.2: 22 November 2013: Corrections following review by IPET-MDRD
    Version 1.3.3: 15 May 2014: Introduction of changes from Fast Track approval
    Version 1.3.4: 19 May 2015: Introduction of changes from Fast Track approval
    Version 1.3.5: 24 November 2015: Introduction of changes from Fast Track approval
    Version 1.3.6: 26 May 2016: Introduction of changes from Simple approval procedure

-->
<gmx:CT_CodelistCatalogue xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gmx="http://www.isotc211.org/2005/gmx" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.isotc211.org/2005/gmd http://wis.wmo.int/2011/schemata/iso19139_2007/schema/gmd/gmd.xsd http://www.isotc211.org/2005/gmx http://wis.wmo.int/2011/schemata/iso19139_2007/schema/gmx/gmx.xsd">
    <gmx:name>
        <gco:CharacterString>WMOCodelists</gco:CharacterString>
    </gmx:name>
    <gmx:scope>
        <gco:CharacterString>Codelists for description of metadata datasets compliant with the WMO Core Metadata Profile version 1.3 (derived from ISO/TC 211 19115:2003 and 19139)</gco:CharacterString>
    </gmx:scope>
    <gmx:fieldOfApplication>
        <gco:CharacterString>WMO Core Metadata Profile</gco:CharacterString>
    </gmx:fieldOfApplication>
    <gmx:versionNumber>
        <gco:CharacterString>1.3.dev0</gco:CharacterString>
    </gmx:versionNumber>
    <gmx:versionDate>
        <gco:Date>YYYY-MM-DD</gco:Date>
    </gmx:versionDate>
    <gmx:language>
        <gmd:LanguageCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/codelist/gmxCodelists.xml#LanguageCode" codeListValue="eng">eng</gmd:LanguageCode>
    </gmx:language>
    <gmx:characterSet>
        <gmd:MD_CharacterSetCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/codelist/gmxCodelists.xml#MD_CharacterSetCode" codeListValue="utf8">utf8</gmd:MD_CharacterSetCode>
    </gmx:characterSet>
    <!--============================= Codelists ====================================-->
    {% for codelist_name, codelist_entries in data.items() %}
    {% if codelist_name.startswith('WMO') %}
    {% set codelist_baseurl = 'http://wis.wmo.int/2013/codelists/WMOCodeLists.xml' -%}
    {% set codelist_comment = 'New codelist' -%}
    {% else %}
    {% set codelist_baseurl = 'http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/codelist/gmxCodelists.xml' -%}
    {% set codelist_comment = 'Amendment to existing codelist' -%}
    {% endif %}
    <!-- {{ codelist_name }} :: {{ codelist_comment }} -->
    <gmx:codelistItem>
        <gmx:CodeListDictionary gml:id="{{ codelist_name }}">
            <gml:identifier codeSpace="{{ codelist_baseurl }}">{{ codelist_name }}</gml:identifier>
            {% for codelist_item in codelist_entries %}
            {% if codelist_item['type'] == 'new' %}
            {% set codelist_baseurl2 = 'http://wis.wmo.int/2013/codelists/WMOCodeLists.xml' -%}
            {% else %}
            {% set codelist_baseurl2 = 'http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/codelist/gmxCodelists.xml' -%}
            {% endif %}
            <gmx:codeEntry>
                <gmx:CodeDefinition gml:id="{{ codelist_name }}_{{ codelist_item['Identifier'] }}">
                    <gml:description>{{ codelist_item['Description'] }}</gml:description>
                    <gml:identifier codeSpace="{{ codelist_baseurl2 }}#{{ codelist_name }}">{{ codelist_item['Identifier'] }}</gml:identifier>
                </gmx:CodeDefinition>
            </gmx:codeEntry>
            {% endfor %}
        </gmx:CodeListDictionary>
    </gmx:codelistItem>
    {% endfor %}
</gmx:CT_CodelistCatalogue>
